<!DOCTYPE html>
<html>
<head>
    <title>Spotify Bingo Generator</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Welcome to the Spotify Bingo Generator!</h1>
    <p>{{ message }}</p>
    <form method="POST" action="/">
        <!-- URL Input -->
        <label for="user_url">Enter your Spotify Playlist URL:</label><br>
        <input type="text" id="user_url" name="user_url" required /><br><br>

        <!-- Sliding Scale (Range Input) -->
        <label for="user_number">Select the Number of Copies</label><br>
        <input
            type="range"
            id="user_number"
            name="user_number"
            min="1"
            max="50"
            value="25"
            oninput="this.nextElementSibling.value = this.value"
        />
        <!-- Display the selected slider value in real-time -->
        <output>25</output>

        <br><br>

        <label for="include_free">
            <input type="checkbox" id="include_free" name="include_free" />
            Include Free Space
        </label>
        <br><br>
    
        <!-- Multiple Choice Query -->
        <label for="board_size">Select the Size of the Bingo Board:</label><br>
        <select id="board_size" name="board_size" required>
            <option value="4">4x4</option>
            <option value="5">5x5</option>
        </select>
        <br><br>

        <label for="user_url">Enter the Title of the Bingo Board:</label><br>
        <input type="text" id="title" name="title" /><br><br>


        <!-- Submit Button -->
        <button type="submit">Submit</button>
    </form>
    <a href="https://adithya-gv.github.io/" target="_blank" style="position: absolute; bottom: 0; right: 0; margin: 10px; font-size: 12px; text-decoration: none; color: #007bff;">
        Created by Adithya Vasudev
    </a>
</body>
</html>
